p{
  color: #5C7893;
  font-size: 30px;
}

.btn {
  background-color: #5C7893;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  letter-spacing: 1px;
  border-radius: 4px;
}

.btn:hover{
  background-color: ;
  letter-spacing: 3px;
  cursor: pointer;
}

body{
  background-color: #BAD7F2;
  
}

img{
  width: 20vw;
}

p{
  font-family: verdana;
}

nav{
  list-style-type: none;
  background-color: #DAE6F1;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: .5%;
}

li{
  font-family: verdana;
  display: inline;
  padding: .5%;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

.navButton{
  background-color: #88A3BD;
  border: none;
  padding: .5%;
  border-radius: 4px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.navButton:hover{
  letter-spacing: 3px;
  transition: 0.3s;
  cursor: pointer;
}

img:hover{
  width: 23%;
  transition: .3s;
}

img{
  transition: .3s;
}

.helloHeading{
  transition: .3s;
  width: 10vw;
}

.helloHeading:hover{
  letter-spacing: 4px;
  transition: .3s;
}
